.outside {
  margin-top: 200px;
}

.title {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  margin: 30px 0;
}

.outsideIcon {
  fill:transparent;stroke:var(--purple);stroke-width:2;
}
.insideIcon {
  fill:var(--pink);stroke:var(--purple);stroke-width:1;
}

.h2 {
  color: var(--title);
  font-family: 'Roboto';
  text-transform: uppercase;
  
  margin: -10px 0 0 10px;
  font-size: 2.2rem;
  font-weight: 400;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
}

.layoutOutside {
  position: relative;

  background-color: var(--cyan);

  width: 360px;
  height: 20px;

  border-radius: 50px;
}

.cardBackground {
  position: relative;
  top: -38px;

  background-color: var(--current-line);

  margin-top: 25px;

  width: 360px;
  height: 375px;

  border-radius: 0 0 10px 10px;
}

.image {
  position: relative;
  top: 17.5px;

  width: 330px;
  height: 180px;

  border-radius: 10px;
  margin-bottom: 15px;
}

.h3 {
  font-weight: 300;
  font-size: 1.4rem;

  margin: 1.4rem;
}

@media (max-width: 500px) { 
  .cards {
    justify-content: center;
  }

  .layoutOutside,
  .cardBackground {
    width: 290px;
  }

  .cardBackground {
    height: 320px;
  }
  
  .image {
    top: 15px;
  
    width: 265px;
    height: 150px;
  
    border-radius: 5px;
    margin-bottom: 15px;
  }
}